/* --- Основные Переменные --- */

// Ширина срабатывания первого брейкпоинта
$widthBreakpoint: $maxWidthContainer + $paddingContainer;

// Брейк-поинты
$pc: em($widthBreakpoint); // Пк ноутбуки некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S